html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
  background-color: #111827;
  color: #d2d1c9;
}

a {
  text-decoration: none;
  color: #d2d1c9;
}

a:active {
  color: #d2d1c9;
}

a:hover {
  color: hsl(53, 7%, 58%);
}

/* Main container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Header */
.header {
  min-width: 1400px;
  padding: 0 344px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #1f2937;
  height: 72px;
  align-items: center;
}

.logo-container {
  display: flex;
}

.logo {
  width: 56px;
  height: 56px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navigation a {
  padding: 12px 0;
}

.navigation a:hover {
  border-bottom: 1px solid;
  color: #d2d1c9;

}

.cost {
  font-size: 2rem;
  font-weight: 700;
  color: #e8c468;
  margin-left: 24px;
  margin-right: auto;
}

.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;

}

.nav-right a {
  text-align: center;
}

.outages {
  border-radius: 6px;
  width: 110px;
  padding: 12px;
  background-color: #bb4430;
  border-radius: 6px;
  color: #0c0c0b;
}

.outages:hover {
  background-color: #8b3425;

}

.account {
  border-radius: 6px;
  width: 110px;
  padding: 12px;
  background-color: #e8c468;
  color: #0c0c0b;
}

.account:hover {
  background-color: #ac914e;
}

/* Hero */
.hero {
  background-color: #274854;
  width: 100%;
  height: 320px;
  padding: 0 490px;
  position: relative;
  background-image: url(img/hero.png);
}

.title-header {
  color: #e8c468;
  font-size: 4rem;
}

.tagline {
  font-size: 1.2rem;
}

/* Content */
/* later */


/* Footer */
.footer {
  width: 100%;
  margin-top: auto;

  min-width: 1400px;
  padding: 0 344px;
  display: flex;
  width: 100%;
  border-top: 1px solid #1f2937;
  height: 72px;
  align-items: center;
}

.copyright {
  margin-right: auto;
}

.nav-footer {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-footer a i {
  font-size: 1.5rem;
}