html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
  background-color: #111827;
  color: #d2d1c9;
}

a {
  text-decoration: none;
  color: #d2d1c9;
}

a:active {
  color: #d2d1c9;
}

a:hover {
  color: hsl(53, 7%, 58%);
}